!!!
%html
  %head
    %title DiffySample
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
    %style
      = Diffy::CSS
  %body
    .container
      %h1 Diffy Sample
      %br
      = yield
